fastapi
uvicorn
pydantic
pydantic-settings
chromadb
openai
langchain-text-splitters
langchain-openai
python-dotenv
langgraph
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pypdf
python-docx
jinja2
pyyaml
prometheus-fastapi-instrumentator
